body {
    padding-top:60px;
    font-family:'Open Sans', Arial, sans-serif;
}

.brand {
    text-decoration:none;
}

.btn:visited, .btn-secondary:visited {
    color:#333333;
}

.btn-primary:visited, .btn-inverse:visited, .btn-select:visited, .btn-info:visited, .btn-warning:visited, .btn-success:visited {
    color:#fff;
}

.btn-leftArrow:visited {
    color:#216c0a;
}